/* CSS THAT RUNS THROUGH OUT THE WEBSITE */
body {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

main {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5 {
    font-weight: 400;
    text-align: center;
    padding: 20px;
    margin: 0;
}

p {
    text-align: center;
    padding: 3px;
    margin: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

 li {
     text-align: center;
     padding: 2px;
     margin: 0;
}

.contract-list {
    list-style-type: none;
}

.contract-list li {
    text-align: center;
}

/* CSS FOR IMAGES THROUGH OUT THE WEBSITE */

.img-tools {
    width: 100%;
    border: 1px solid #000;
}

.service-img {
    width: 100%;
    border: 1px solid #fff;
    
}

/* jUMBOTRON CSS FOR ALL PAGES */

#jumbo-home {
    color: rgb(255, 255, 255);
    background-image: url("../images/wallhome.jpg");
    background-repeat: no-repeat;
}

#jumbo-services {
    color: rgb(255, 255, 255);
    background-image: url("../images/wallhome.jpg");
    background-repeat: no-repeat;
}

#jumbo-about {
    color: rgb(255, 255, 255);
    background-image: url("../images/wallhome.jpg");
    background-repeat: no-repeat;  
}

#jumbo-projects {
    color: rgb(255, 255, 255);
    background-image: url("../images/wallhome.jpg");
    background-repeat: no-repeat;  
}

#jumbo-contact {
    width: 100%;
    color: rgb(255, 255, 255);
    background-image: url("../images/wallhome.jpg");
    background-repeat: no-repeat;  
}

/* CSS FOR BUTTONS THROUGHOUT WEBSITE */

.service-btn {
    width: 75%;
    margin: 15px;
}

#project-btn {
    width: 50%;
    margin: 15px;
}

#cta-btn{
    margin: 1.5em;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    border: 3px solid #fff;
}

/* CSS FOR HOME PAGE SECTIONS USED AS BREADCRUMBS TO OTHER PAGES */

#home-services {
    background-color: #eee;
    min-height: 500px;
    border-top: 1px solid black;
    border-bottom:  1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

#home-projects {
   margin-bottom: 20px;
}

#home000000-extra {
    margin-bottom: 50px; 
}

        /* ABOUT US PAGE CSS */

.container {
    width: 100%;
}

#team-text {
    font-size: 1.5rem;
    margin: 10px;
}

/* ============= CSS FOR CONTACT PAGE AND FORM ========= */

form {
    width: 50%;
    margin: 10px;
   
}

input {
    margin: 10px;
}

legend {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}



/* ======== CALL TO ACTION CSS ==========*/

#cta {
    background-color: #cdc;
    padding: 3em;
    color: #fff;
    margin-top: 3rem;
}

/* ======= FOOTER CSS ========= */

footer {
    background-color: #344;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
}